// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "main";

// Container
$widescreen: 1000px + (2 * $gap);
$fullhd: 1000px + (2 * $gap);
$desktop: 800px + (2 * $gap);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import url('https://fonts.googleapis.com/css?family=Faster+One');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Raleway+Dots');
@import url('https://fonts.googleapis.com/css?family=Vast+Shadow');