main {
  min-height: calc(100vh - 232px);
}
body {
  font-family: 'Arial', sans-serif !important;
}
button.modal-close {
  display: none;
}

.navbar .navbar-brand p{
 
  color: black;
  font-family: 'Monoton';

  
  
}

.navbar .navbar-brand .party{
  color: red;
 
  font-family: 'Monoton';
}

.navbar-end .navbar-item a{
  color: black;
  
}



.hero-body .subtitle{
  color: #eee;
  width: 400px;
  margin: 0 5px;
  font-size: 1.50rem;
  position: relative;
  top: 2.00rem;

  
}

.hero-body{
  height: 600px;
}


.product-image img{
  

}

.footer{
  background-color: black;
}



